.header-style-4 .stick .hotline p{
    color: #088178 !important;
}
.xl{
    font-size: x-large !important;
}
.form-control-sm{
    height: 30px !important;
    border-radius: 0% !important;
    font-size: 10px !important;
    color: #088178 !important;
}
.rupee::before{
    content: '₹';
}
.select2-container{
    display: inline !important;
}
.select2-search__field{
    display: none !important;
}